## Experiment-1: Practice of Major Functions in NumPy, Pandas, and Matplotlib Libraries.
## Anthony Rodrigues
## AIML-B3
## Roll no:58

## Pandas

In [1]:
!pip install pandas
!pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.3.3-cp39-cp39-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.22.4 in c:\users\hp\appdata\roaming\python\python39\site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python39\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\roaming\python\python39\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp39-cp39-win_amd64.whl (11.4 MB)
   ---------------------------------------- 0.0/11.4 MB ? eta -:--:--
   ------------ --------------------------- 3.7/11.4 MB 27.3 MB/s eta 0:00:01
   -------------- ------------------------- 4.2/11.4 MB 11.5 MB/s eta 0:00:01
   --------------- ------------------------ 4.5/11.4 MB 8.4 MB/s eta 0:00:01
   ----------------- ---------------------- 5.0/11.4 MB 6.2 MB/s eta 0:00:02
   ------------------ --------------------- 5.2/11.4 MB 5.6 MB/s eta 0:00:02
   ------------------- -------------------- 5.5/11.4 MB 4.9 MB/s eta 0:00:02
   -------------------- ------------------- 5.8/11.4 MB 4.2 MB/s eta 0:00:02
   --------------------- ------------------ 6.0/11.4 MB 3.8 MB/s eta 0:00:02
   ---------------------- ----------------- 6.3/11.4 MB 3.5 MB/s eta 0:00:02
   ------------------------ --------------- 6.8/11.4 MB 3.2 MB/s eta 0:00:02
   ------------------------ --------------- 7.1/11.4 MB 3.1 MB/s eta 0:00:02
   ---------------------------------------- 11.4/11.4 MB 4.5 MB/s  0:00:02
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Installing collected packages: pytz, pandas

   ---------------------------------------- 0/2 [pytz]
   ---------------------------------------- 0/2 [pytz]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   -------------------- ------------------- 1/2 [pandas]
   ---------------------------------------- 2/2 [pandas]

Successfully installed pandas-2.3.3 pytz-2025.2
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\hp\appdata\roaming\python\python39\site-packages (2.0.2)

In [2]:
import pandas as pd
import numpy as np

In [3]:
import pandas as pd
import numpy as np
print("\n==================== 1. Series Creation ====================")
# Series from list
s1 = pd.Series([10, 20, 30, 40])
print("Series from list:\n", s1)

# Series with custom index
s2 = pd.Series([1, 2, 3], index=['a','b','c'])
print("\nSeries with custom index:\n", s2)
# Series from dictionary
s3 = pd.Series({'x': 100, 'y': 200})
print("\nSeries from dictionary:\n", s3)

==================== 1. Series Creation ====================
Series from list:
 0    10
1    20
2    30
3    40
dtype: int64

Series with custom index:
 a    1
b    2
c    3
dtype: int64

Series from dictionary:
 x    100
y    200
dtype: int64

In [4]:
print("\n==================== 2. DataFrame Creation ====================")
# From dictionary
df1 = pd.DataFrame({
'Name': ['Alice','Bob','Charlie'],
'Age': [25,30,35],
'City': ['NY','LA','Chicago']
})
print("DataFrame from dictionary:\n", df1)

# From NumPy array
arr = np.arange(9).reshape(3,3)
df2 = pd.DataFrame(arr, columns=['A','B','C'])
print("\nDataFrame from NumPy array:\n", df2)

# From list of lists
df3 = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['X','Y'])
print("\nDataFrame from list of lists:\n", df3)

==================== 2. DataFrame Creation ====================
DataFrame from dictionary:
       Name  Age     City
0    Alice   25       NY
1      Bob   30       LA
2  Charlie   35  Chicago

DataFrame from NumPy array:
    A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

DataFrame from list of lists:
    X  Y
0  1  2
1  3  4
2  5  6

In [5]:
print("\n==================== 3. Viewing Data ====================")
print("Head of df1:\n", df1.head(2))
print("Tail of df1:\n", df1.tail(2))
print("Columns of df1:", df1.columns)
print("Index of df1:", df1.index)
print("Shape of df1:", df1.shape)
print("Info of df1:")
print(df1.info())
print("Describe numeric data in df1:\n", df1.describe())

==================== 3. Viewing Data ====================
Head of df1:
     Name  Age City
0  Alice   25   NY
1    Bob   30   LA
Tail of df1:
       Name  Age     City
1      Bob   30       LA
2  Charlie   35  Chicago
Columns of df1: Index(['Name', 'Age', 'City'], dtype='object')
Index of df1: RangeIndex(start=0, stop=3, step=1)
Shape of df1: (3, 3)
Info of df1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None
Describe numeric data in df1:
         Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [6]:
print("\n==================== 4. Selection & Indexing ====================")
print("Select 'Name' column:\n", df1['Name'])
print("Select multiple columns:\n", df1[['Name','City']])
print("Select row by loc:\n", df1.loc[1])
print("Select row by iloc:\n", df1.iloc[0])
print("Select specific element:\n", df1.loc[1,'City'])

==================== 4. Selection & Indexing ====================
Select 'Name' column:
 0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
Select multiple columns:
       Name     City
0    Alice       NY
1      Bob       LA
2  Charlie  Chicago
Select row by loc:
 Name    Bob
Age      30
City     LA
Name: 1, dtype: object
Select row by iloc:
 Name    Alice
Age        25
City       NY
Name: 0, dtype: object
Select specific element:
 LA

In [7]:
print("\n==================== 5. Filtering & Boolean Indexing ====================")
print("Rows where Age > 28:\n", df1[df1['Age']>28])
print("Rows where City is 'NY':\n", df1[df1['City']=='NY'])

==================== 5. Filtering & Boolean Indexing ====================
Rows where Age > 28:
       Name  Age     City
1      Bob   30       LA
2  Charlie   35  Chicago
Rows where City is 'NY':
     Name  Age City
0  Alice   25   NY

In [8]:
print("\n==================== 6. Adding & Modifying Columns ====================")
df1['Salary'] = [50000, 60000, 70000]
print("After adding Salary:\n", df1)
df1['AgePlus5'] = df1['Age'] + 5
print("After modifying/adding AgePlus5:\n", df1)

==================== 6. Adding & Modifying Columns ====================
After adding Salary:
       Name  Age     City  Salary
0    Alice   25       NY   50000
1      Bob   30       LA   60000
2  Charlie   35  Chicago   70000
After modifying/adding AgePlus5:
       Name  Age     City  Salary  AgePlus5
0    Alice   25       NY   50000        30
1      Bob   30       LA   60000        35
2  Charlie   35  Chicago   70000        40

In [9]:
print("\n==================== 7. Dropping Rows/Columns ====================")
df_dropped = df1.drop('AgePlus5', axis=1)
print("After dropping column AgePlus5:\n", df_dropped)
df_dropped_row = df1.drop(0, axis=0)
print("After dropping row 0:\n", df_dropped_row)

==================== 7. Dropping Rows/Columns ====================
After dropping column AgePlus5:
       Name  Age     City  Salary
0    Alice   25       NY   50000
1      Bob   30       LA   60000
2  Charlie   35  Chicago   70000
After dropping row 0:
       Name  Age     City  Salary  AgePlus5
1      Bob   30       LA   60000        35
2  Charlie   35  Chicago   70000        40

In [10]:
print("\n==================== 8. Handling Missing Data ====================")
df_missing = pd.DataFrame({
'A':[1,np.nan,3],
'B':[4,5,np.nan]
})
print("DataFrame with missing values:\n", df_missing)
print("Drop rows with NaN:\n", df_missing.dropna())
print("Fill NaN with 0:\n", df_missing.fillna(0))
print("Check for NaN:\n", df_missing.isna())

==================== 8. Handling Missing Data ====================
DataFrame with missing values:
      A    B
0  1.0  4.0
1  NaN  5.0
2  3.0  NaN
Drop rows with NaN:
      A    B
0  1.0  4.0
Fill NaN with 0:
      A    B
0  1.0  4.0
1  0.0  5.0
2  3.0  0.0
Check for NaN:
        A      B
0  False  False
1   True  False
2  False   True

In [11]:
print("\n==================== 9. Aggregation Functions ====================")
print("Sum of numeric columns:\n", df1[['Age','Salary']].sum())
print("Mean of numeric columns:\n", df1[['Age','Salary']].mean())
print("Max of numeric columns:\n", df1[['Age','Salary']].max())
print("Min of numeric columns:\n", df1[['Age','Salary']].min())
print("Describe:\n", df1[['Age','Salary']].describe())

==================== 9. Aggregation Functions ====================
Sum of numeric columns:
 Age           90
Salary    180000
dtype: int64
Mean of numeric columns:
 Age          30.0
Salary    60000.0
dtype: float64
Max of numeric columns:
 Age          35
Salary    70000
dtype: int64
Min of numeric columns:
 Age          25
Salary    50000
dtype: int64
Describe:
         Age   Salary
count   3.0      3.0
mean   30.0  60000.0
std     5.0  10000.0
min    25.0  50000.0
25%    27.5  55000.0
50%    30.0  60000.0
75%    32.5  65000.0
max    35.0  70000.0

In [12]:
print("\n==================== 10. Grouping & Aggregation ====================")
df_group = pd.DataFrame({
'Department':['HR','IT','HR','IT','IT'],
'Employee':['Alice','Bob','Charlie','David','Eve'],
'Salary':[50000,60000,55000,65000,70000]
})
print("Original DataFrame:\n", df_group)
grouped = df_group.groupby('Department')['Salary'].mean()
print("Average salary by Department:\n", grouped)

==================== 10. Grouping & Aggregation ====================
Original DataFrame:
   Department Employee  Salary
0         HR    Alice   50000
1         IT      Bob   60000
2         HR  Charlie   55000
3         IT    David   65000
4         IT      Eve   70000
Average salary by Department:
 Department
HR    52500.0
IT    65000.0
Name: Salary, dtype: float64